<div class="template">
  <%= form_for @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title%>

    <%= f.label :instructions %>
    <%= f.text_field :instructions %>

    <% if params[:id] %>
      <%= f.submit "Update" %>
    <% else %>
      <%= f.submit "Create" %>
    <% end %>
  <% end %>
</div>

<!-- Good job utilizing partials -->
