<div class="template">
  <h2>
    <%= @recipe.title %>
    <p class="author">
      By <%= @recipe.user.display_name %>
    </p>
  </h2>

  <p>
    <%= link_to "(Edit)", edit_recipe_path(@recipe) %> | <%= link_to "(Delete)", recipe_path(@recipe), method: :delete %>
  </p>

  <p class="instructions">
    <%= @recipe.instructions %>
  </p>

  ------

  <h4> Comments <%= link_to "(+)", new_recipe_comment_path(@recipe) %></h4>

  <ul class="comments">
    <% @recipe.comments.each do |comment| %>
      <li class="comment">
        <div class="comment_body">
          <p class="commenter">
            <%= comment.user.display_name %>: <%= comment.content %>
          </p>
          <p class="timestamp">
            <%= comment.created_at %>
          </p>
        </div>

      </li>
    <% end %>
  </ul>
</div>
