<!DOCTYPE html>
<html>
  <head>
    <title>RecipePrivatization</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1>
        <a href="recipes#index" class="title">recipEat</a>
      </h1>
    </header>
    <nav>
      <%= link_to "All Recipes", recipes_path %>
      <div class="user_actions">
        <% if current_user %>
          <% if current_user.display_name? %>
            Logged in as <%= current_user.display_name %> |
          <% elsif current_user.name? %>
            Logged in as <%= current_user.name %> |
          <% else%>
            Logged in with <%= current_user.email %>.
          <% end %>
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> or
          <%= link_to "Log In", login_path %>
        <% end %>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <p class = "flash <%= type %>"><%= message %></p>
    <% end %>



    <section class="content">
      <%= yield %>
    </section>


  </body>
</html>
